html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../recursos/img/fondos/fondocombate.png");
    background-size: contain;
}

.pokeortInicialEleccion {
height: 80%;
width: 80%;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;

    p {
        font-family: Kyiv;
        font-size: 30px;
        margin: 0;
    }

    .botones {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .BotonDeEleccion {
        width: 30%;
        height: 60%;
    
        img {
            height: 60%;
            width: auto;
            image-rendering: pixelated;
        }
    }    
}

.pokemon {
    display: flex;
    width: 150px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 180px;
}

.pokeort1-img {
    width: 300px;
    height: 300px;
    image-rendering: pixelated;
}

.pokeort2-img {
    width: 300px;
    height: 300px;
    image-rendering: pixelated;
}

.ImagenesCambiables {
    width: 100%;
    height: 100%;
}
