html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../recursos/img/fondos/fondocombate.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.pokeortInicialEleccion {
height: 100%;
width: 100%;
position: fixed;
background-image: url(../recursos/img/fondos/fondocombate.png);
background-size: contain;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;

    p {
        font-family: Kyiv;
        font-size: 30px;
        position: relative;
        top: 5%;
    }

    .botones {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .BotonDeEleccion {
        width: 20%;
        height: 40%;
        border: none;
        border-radius: 10px;
        background-color: white;

        &:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }

        img {
            position: relative;
            bottom: 10%;
            height: 60%;
            width: auto;
            image-rendering: pixelated;
        }
    }    
}

.aaa {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .cerrartabla {
        width: 2.8%;
        height: 4.1%;
        z-index: 1;
        border: none;
        background-color: rgb(61, 61, 61);
        color: white;
    }

    .tabladetipos {
        background-image: url(../recursos/img/fondos/tabladetipos.png);
        background-size: cover;
        position: fixed;
        width: 926px;
        height: 625px;
        display: flex;
        justify-content: end;
    }
}


.menudearriba {
    width: 100%;
    display: flex;
}

header {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;

    .pokeort1 {
        height: 100%;
        width: 25%;

        .head {
            width: auto;
            height: 20%;
            display: flex;

            .pokebolas {
                display: flex;
                height: 100%;
                width: 50%;
                justify-content: end;
                margin-top: 6%;
                position: inherit;
            }
            
            .pokebola {
                width: 10%;
                height: 26%;
                margin-left: 3%;
                background-image: url("../recursos/img/iconos/pokeball-roja.png");
                background-size:  cover;
            }

            .pokeort-name {
                width: 30%;
                margin: none;
                margin-left: 10%;
                margin-top: 5%;
                font-family: Kyiv;
                font-size: 20px;
            }
        }

        .pokeort1-img {
            width: 94%;
            height: 92%;
            image-rendering: pixelated;
            margin: auto;
        }

        .barra-hp1 {
            width: 80%;
            height: 5%;
            position: relative;
            bottom: 5%;
            background-color: lightgray;
            margin: 0 auto;
            border-radius: 7px;

            .vida {
                background-color: lightgreen;
                width: 100%;
                height: 100%;
                border-radius: 7px;
                margin: 0;
            }
        }
    }

    .pokeort2 {
        height: 100%;
        width: 25%;

        .head {
            width: auto;
            height: 20%;
            display: flex;

            .pokebolas {
                display: flex;
                height: 100%;
                width: 50%;
                justify-content: end;
                margin-top: 6%;
            }
            
            .pokebola {
                width: 10%;
                height: 26%;
                margin-left: 3%;
                background-image: url("../recursos/img/iconos/pokeball-roja.png");
                background-size:  cover;
            }


            .pokeort-name {
                width: 30%;
                margin: none;
                margin-left: 10%;
                margin-top: 5%;
                font-family: Kyiv;
                font-size: 20px;
            }
        }

        .pokeort2-img {
            width: 94%;
            height: 92%;
            image-rendering: pixelated;
            margin: auto;
        }

        .barra-hp2 {
            width: 80%;
            height: 5%;
            position: relative;
            bottom: 5%;
            background-color: lightgray;
            margin: 0 auto;
            border-radius: 7px;

            .vida {
                background-color: lightgreen;
                width: 100%;
                height: 100%;
                border-radius: 7px;
                margin: 0;
            }
        }
    }
}


footer {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;

    .menu {
        width: 100%;
        height: 100%;
        background-color: #4E4E4E;
        display: flex;

        .opciones {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

            .option {
                width: 80%;
                height: 10%;
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                border: none; 

                &:hover {
                    background-color: whitesmoke;
                    cursor: pointer;
                }
            }
        }
        
        .ataques-cambios {
            width: 70%;
            height: 100%;

            .cambios {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                button {
                    border: none;
                    border-radius: 10px;
                    background-color: white;
                    cursor: pointer;

                    &:hover {
                        background-color: whitesmoke;
                        cursor: pointer;
                    }
                }

                .pokeort-cambiable {
                    width: 40%;
                    height: 80%;
                    
                    .ImagenesCambiables {
                        width: 30%;
                        height: auto;
                        image-rendering: pixelated;
                    }
                }
            }

            .ataques {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .arriba {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    
                    button {
                        width: 40%;
                        height: 74%;
                        border: none;
                        background: white;
                        border-radius: 8px;

                        &:hover {
                            background-color: whitesmoke;
                            cursor: pointer;
                        }
                    }
                }

                .abajo {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    height: 50%;

                    button {
                        width: 40%;
                        height: 74%;
                        border: none;
                        background: white;
                        border-radius: 8px;

                        &:hover {
                            background-color: whitesmoke;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}



