body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: url(../recursos/img/pollo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.order-0 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 40px;
}

.seleccione-pokeort {
    position: absolute;
    right: 37%;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
    bottom: 0;
    border: 1px  solid black;
}

.pokemon {
    flex: 0 0 auto;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.pokeort-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokeort-name {
    margin-right: 50px;
    margin-left: 50px;
}

.volver {
    width: 20px;
    height: 20px;
    background: blue;
    order: 1;
}

.pokeort-img {
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 100px;

}

.ability-container {
    display: flex;
    height: 300px;
    width: 200px;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 50px;
}

.ability {
    height: 30%;
    width: 90%;
    border: 2px solid black;
}

.selected-pokeort {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-pokeort-1 {
    margin-right: 280px;
    margin-left: 10px;
}

.selected-pokeort-2 {
    margin-right: 10px;
}

.selected-pokeort-container {
    height: 300px;
    width: 550px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-left: 150px;
    justify-content: center;
    text-align: center;
    background-color: gray;
    
}

.order-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.divDeLaDerecha {
    height: 200px;
    width:  200px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-left: 150px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#selected-pokeort-display 
{
    height: 100px;
    width: 100px;
}
#selected-pokeort-display2 {
    height: 100px;
    width: 100px;
}
#VIDA
 {
background-color: greenyellow;
}
#VELOCIDAD 
{
background-color: yellow;
}
#DEFENSA 
{
    background-color: brown;
}
#DAÑO
{
    background-color: crimson;
}

.ability 
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.botoneleccion
{
  background-color: gray;
  border: none;
  cursor: pointer;
}
.BotonBloqueador 
{
    position: absolute;
    top: 100px;
}
.filtroVerde
{

background: rgba(0, 255, 0, 0.799);
z-index: 1; 
}
#BotonDeBloqueo2 
{
    display: none;
}
