.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
    bottom: 0;
    border: 1px  solid black;
}

.pokemon {
    flex: 0 0 auto;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    margin: 50px;
}

.pokeort-name-container {
    display: flex;
    flex-direction: row;
}

.pokeort-name {
    margin: 50px;
}

.volver {
    width: 20px;
    height: 20px;
    background: blue    ;
}