html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url(../recursos/img/fondos/seleccion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

button:disabled:hover {
    cursor: auto;
}

header {
    box-sizing: border-box;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0;

    .volver {
        width: 3%;
        height: 100%;
        background: #484848;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
        
        img {
            width: 75%;
            height: 80%;
        }
    }

    .seleccione-pokeort {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        font-family: Kyiv;
    }
}

main {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;

.ability-container {
    display: flex;
    height: 62%;
    width: 17%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ability {
    height: 30%;
    width: 90%;
    border: 2px solid black;
    font-size: large;
    font-family: Kyiv;
    font-weight: bolder;
    background-color: #3afa74;
}

.selected-pokeort {
    height: 90%;
    width: 28%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kyiv;
    background-color: #3afa74;
}

.selected-pokeort-display {
    width: 90%;
    height: 55%;
    image-rendering: pixelated;
}

.selected-pokeort-container {
    height: 70%;
    width: 40%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: space-evenly;
    text-align: center;
    background-color: #2d8f30;
    
}

.divDeLaDerecha {
    height: 60%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
}

footer {
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    overflow: auto;
    bottom: 0;
    margin: 0;

    .combatirGrande {
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 50%;
        height: 50%;
        font-family: Kyiv;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 3rem;
        background-color: #484848;
    }

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: none;
        width: 10px;
        background-color: rgb(182, 182, 182);
    }

    &::-webkit-scrollbar-thumb {
        width: 10px;
        background-color: grey;
      }

.pokeort-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.pokeort-name {
    margin-right: 50px;
    margin-left: 50px;
}

.pokeort-img {
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 100px;
    image-rendering: pixelated;
}
}

#VIDA
{
background-color: greenyellow;
}

#VELOCIDAD 
{
background-color: yellow;
}

#DEFENSA 
{
    background-color: brown;
}

#DAÑO
{
    background-color: crimson;
}

.ability 
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.botoneleccion
{
    background-color: gray;
    border: none;
    cursor: pointer;
}

.BotonDeEleccion {
    height: 100%;
}

.BotonBloqueador 
{
    background-color: #a5f5a7;
    border: 1px solid black;
    font-family: Kyiv;
    border-radius: 5px;
    position: absolute;
    top: 100px;

    &:hover {
        background-color: #90d692;
    }
}

.filtroVerde {
background: rgba(0, 255, 0, 0.799);
z-index: 1; 
}

#BotonDeBloqueo2 
{
    display: none;
}
#BotonDeBloqueo3
{
    display: none;
}
#BotonDeBloqueo1Jugador2 
{
    display: none;
}
#BotonDeBloqueo2Jugador2 
{
    display: none;
}
#BotonDeBloqueo3Jugador2
{
    display: none;
}

.hidden
 {
    opacity: 0.5;
}

.desabilitado-permanente {
    opacity: 0.5;
}