html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/img/fondos/pantalla\ de\ inicio.png);
    background-size: cover;
}

.combatir, .creditos-button, .opciones{
    font-family: Kyiv;
    background-color: #928E8E;
    border: 3px solid white;
    border-radius: 10px;
}

.combatir {
    margin: 0;
    width: 35%;
    height: 20%;
    font-size: 3.3rem;
    font-weight: bold;
    margin-top: 1.5%;

    &:hover {
        cursor: pointer;
        background-color: #706e6e;
    }
}

.creditos-button {
    width: 25%;
    height: 7%;
    background-color: black;
    color: white;
    margin-top: 1.5%;
    font-size: 1.3rem;

    &:hover {
        cursor: pointer;
        background-color: #101010;
    }
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin: 0;
        font-size: 5rem;
        font-family: Kyiv;
        color: white;
        font-weight: 400;
    
        .negrita {
            font-weight: bold;
        }
    }

    .first {
        margin-top: 5%;
    }
}

.parrafo {
    color: white;
    font-family: Kyiv;
    font-size: 1.3rem;
}

.creditos-menu {
        height: 70%;
        width: 65%;
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        border: 5px solid white;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    
    .creditos {
            height: 40%;
            width: 100%;
            color: white;
            font-family: Kyiv;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            h5 {
                font-weight: 400;
                margin: 5%;
            }
        }
    
        
    .cerrar {
        position: absolute;
        right: 1%;
        top: 1%;
        background-color: #949494;
    }
}

.show {
    opacity: 1;
    pointer-events: auto;
}