html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/img/fondos/pantalla\ de\ inicio.png);
    background-size: 100%;
}

.combatir, .creditos-button, .opciones{
    font-family: Kyiv;
    background-color: #BDBDBD;
    border: 3px solid black;
    border-radius: 10px;

    &:hover {
        background-color: #949494;
    }

    &:active {
        background-color: #a7a7a7;
    }
}

.combatir {
    margin: 0;
    width: 15%;
    height: 10%;
    font-size: 30px;
}

.creditos-button {
    margin-top: 15px;
    width: 10%;
    height: 5%;
}

.opciones {
    margin-top: 15px;
    width: 10%;
    height: 5%;
}

.title {
    font-family: "Kyiv";
    -webkit-text-stroke: 0.5px white;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.cerrar {
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: #949494;
}

.creditos-menu {
    height: 70%;
    width: 65%;
    background-color: black;
    position: fixed;
    top: auto;
    left: auto;
    border-radius: 20px;
    border: 5px solid white;
    opacity: 0;
    pointer-events: none;

    .creditos {
        height: 40%;
        width: 50%;
        height: auto;
        position: relative;
        top: 19%; 
        left: 31%;
        color: white;
        font-family: Kyiv;
        font-size: 30px;
    }
}

.show {
    opacity: 1;
    pointer-events: auto;
}